<!<!DOCTYPE html>
<meta charset="utf-8" />
<html>
  <head>
    <title>Travel Planner</title>
  </head>

  <body>
    <h1>Travel Planner</h1>
    <div class="grid">
      <div id="row1">
        <h2>My Trips:</h2>
        <div id="row2">
          <form>
            <label for="locName">My trip to:</label>
            <input type="text" id="locName" value="Enter Location" /><br />
            <label for="date">Departing Date:</label>
            <input type="text" id="date" value="MM/DD/YYYY" /><br />
            <input type="submit" id="submit" value="Save Trip" />
            <button type="button" id="remove2">Remove Trip</button>
          </form>
        </div>
      </div>
    </div>
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
