<!DOCTYPE html>
<meta charset="utf-8" />
<html>
  <head>
    <title>Travel Planner</title>
    <link rel="stylesheet" src="./styles/background.css" />
  </head>

  <body>
    <h1>Travel Planner</h1>
    <div class="grid">
      <div id="row1">
        <h2>My Trips:</h2>
        <div id="row2">
          <form>
            <div id="a">
              <label for="locName">My trip to:</label>
              <input type="text" id="locName" value="City, Country" /><br />
            </div>
            <div id="b">
              <label for="date">Start Date:</label>
              <input type="text" id="startDate" value="MM/DD/YYYY" /><br />
            </div>
            <div id="c">
              <label for="date">End Date:</label>
              <input type="text" id="endDate" value="MM/DD/YYYY" /><br />
            </div>
            <div id="d">
              <input type="submit" id="submit" value="Save Trip" />
              <button type="button" id="remove2">Remove Trip</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
