//for mobile sizes
$text-color: black;
$height: 720px;
$font: Georgia, serif;
$margin: 50px;
$font-size: 25px;
$picMargin: 50px;

input, button{
  &:hover{
    font-weight: bold;
  }
}

body{
  color: $text-color;
  font-family: $font;
  font-size: $font-size;
  background-image: url('pinkmarble.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  height: $height;
  margin: $margin;
}

#placePic{
  margin-top: $picMargin;
  margin-left: $picMargin;
}

//for tablet size
@media (min-width: 700px) and (max-width: 1000px) {
  $text-color: black;
  $height: 720px;
  $font: Georgia, serif;
  $margin: 50px;
  $font-size: 25px;
}

//for desktop size
@media (min-width: 800px) {
  $text-color: black;
  $height: 720px;
  $font: Georgia, serif;
  $margin: 50px;
  $font-size: 25px;
}
